*.8xp
*.bin
*.efi
*.exe
*.js
*.json
*.lzma
*.out
*.out.*
*.pcap
*.sys
*.ttf
*.tar
*.zip
pass.code
success.txt
!/level0/challenge.pcap
/level1/SOS-Fant0me/solution.txt
/level3/strange/196
/level3/usb/img.bz2
/level3/usb/key
/level4
